<%- include('../partials/header') %>

<section id="sections">
  <section id="separate">
    <div id="infoDiv" class="mainName">Name: <%= hike.name %></div>
    <div id="infoDiv">Address: <%= hike.address %></div>
    <div id="infoDiv">Description: <%= hike.description %></div>
    <div id="infoDiv">Leash: <%= hike.leash %></div>
    <div id="infoDiv"><a href="<%= hike.site %>">Visit Website</a></div>
</section>
</section>
<br>
<div>
  <% if (user._id.equals(hike.createdBy[0])) { %>
    <button><a href="/hikes/<%= hike._id %>/edit">Edit Hike?</a></button>
    <br><br>
    <form action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
      <button type="submit">DELETE HIKE</button>
    </form>
    <% } %>
  </div>
  <br>
  <button><a href="/hikes">Back to Hikes</a></button>
<br><br><br>
<h2>Reviews</h2>
<form method="POST"
  action="/hikes/<%= hike._id %>/reviews">
  <label>Name:</label>
  <select name="name">
    <option value="<%= user.name %>"><%= user.name %></option>
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (hike.reviews.length) { %>
  <table>
    <thead>
      <tr>
         <th>Date</th>
         <th>Name</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% var total = 0 %>
      <% hike.reviews.forEach(function(h) { %>
        <% total += h.rating %>
        <tr>
          <td><%= h.createdAt.toLocaleDateString() %></td>
          <td><%= h.name %></td>
          <td><%= h.content %></td>
          <td><%= h.rating %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td><strong><%= (total / hike.reviews.length).toFixed(1) %></strong></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<%- include('../partials/footer') %>