<%- include('../partials/header'); %>

<section id="sections">
  <section id="centerSection">
    <h2>Edit <%= food.name %></h2>
    <form action="/foods/<%= food._id %>?_method=PUT" method="POST">
        <label>Name:
          <input type="text" name="name" value="<%= food.name %>">
        </label><br>
        <label>Address(City, State):
          <input type="text" name="address" value="<%= food.address %>">
        </label><br>
        <label>Description:
            <textarea name="description"><%= food.description %></textarea>
        </label><br>
        <label>Attach Website URL:
          <input type="text" name="site" value="<%= park.site %>">
        </label>
        <input type="submit" value="Update">
    </form>
    <a href="/foods">Back to Locations</a>
</section>
</section>
    
<%- include('../partials/footer'); %>