<%- include('../partials/header') %>
<section id="sections">
  <section id="background">

    <h1 class="location-header A">Here is the current list of UpDog's Dog-Pampering locations!</h1>
    <h3 class="location-header">Don't forget, UpDog is a Community App! <br> Know of a place that is not on here?<br><a href="/health/new">ADD LOCATION HERE</a></h3>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
       <thead>
         <tr>
           <th>Name</th>
           <th>Location</th>
           <th>Description</th>
           <th>Type</th>
           <th>Details</th>
         </tr>
       </thead>
     </table>
   </div>
   <div class="tbl-content">
     <table cellpadding="0" cellspacing="0" border="0">
       <tbody>
         <% health.forEach(function(health) { %>
           <tr>
             <td><%= health.name %></td>
             <td><%= health.address %></td>
             <td><%= health.description %></td>
             <td><%= health.type %></td>
             <td><a href="/health/<%= health._id %>">Information</a></td>
         </tr>
           <% }); %>  
       </tbody>
     </table>
    </section>
</section>
<%- include('../partials/footer') %>