<%- include('../partials/header') %>
<section id="sections">
  <section id="background">

    <h1 class="location-header A">Here is the current list of UpDog Dog Parks</h1>
    <h3 class="location-header">Don't forget, UpDog is a Community App! <br> Know of a Dog Park that is not on here?<br><a href="/parks/new">ADD PARK HERE</a>
     </h3>
    
    <table>
      <tr>
        <th>Park Name</th>
        <th>Park Location</th>
        <th>Description</th>
        <th>Details</th>
      </tr>
    <% parks.forEach(function(park) { %>
      <tr>
        <td><%= park.name %></td>
        <td><%= park.address %></td>
        <td><%= park.description %></td>
        <td><a href="/parks/<%= park._id %>">Information</a></td>
    </tr>
      <% }); %>
      </table>
    </section>
</section>
<%- include('../partials/footer') %>